body {
    background-color: #000000;
    font-family: 'Fira Sans', sans-serif;
}

.header {
    width: 100%;
    position: relative;
    background-color: #3DE07E;
    margin-bottom: 2rem;
}

img {
    max-width: 100%;
  }

.wrapper1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 4rem;
    color: #ffffff;
}

.wrapper2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 4rem;
    color: #ffffff;
}

.footer {
    background-color: #ffffff21;
    color: #ffffff;
}